@charset "UTF-8";

.uploadBtn {
	float: right;
}

.stockHeader {
  background-color: #dff0d8;
}

.checkboxI {
	float: left;
}

.procSetHeader { 
  background-color: #dff0d8;
  width: 15%
}

.procSetTradeKbn {
  background-color: #dff0d8;
  width: 8%
}

.procSetFlg {
	width: 10%
}

.procSetTime {
	width: 15%
}

.subInfo {
	padding: 0 0 10px 30px;
}